<table>
<% @order.each do |item| %>
<form method="POST" action='/createprop2'>
<tr>
<input type='hidden' name='oldname' value='<%= item %>' size=<%= item.length %> />
<td><input type='text' name='name' value='<%= item %>' size=<%= item.length %> /></td>
<% unless @schema[item].class == Array %>
<td><input type='text' name='type'value='<%= @schema[item] %>' size=<%= @schema[item].length %> /></td>
<% else %>
<td><input type='text' name='type'value='<%= @schema[item].join('-') %>' size=<%= @schema[item].join('-').length %> /></td>
<% end %>
<td>
<input type="submit" value="Save" />
</td>
</form>
<td>
<form method='post' action='/deleteprop'>
<input type='hidden' name='name' value='<%= item %>' />
<input type='submit' value='Delete Property' onclick='return confirmSubmit("<%= item %>")'/>
</form>
</td>
</tr>
<% end %>
</table>
