<% if request.query['m'] != nil %>
<br /><br /><span class='flash'><strong><%= request.query['m'] %></strong></span><br /><br />
<% end %>
<table>
	<%= filter_list(request) %>
</table>
<% unless @mode == :div %>
<table class='main'>
		<tr>
	<% @order.each do |item| %>
		<% 
			query = request.query.clone
			query['s'] = item
			if query['r'] == nil
				query['r'] = '1'
			else
				query.delete 'r'
			end
		%>
		<td id="<%= item %>Col"><a href='<%= build_query(query) %>'><%= item %></a></td>
	<% end %>
		</tr>
<% end %>
<% db = filter find_filters(request), @db %>
	<%= list(db, request) %>
</table>
<a href='/new'>New <%= @order[@id_location] %></a>
<br />
<a href='/newprop'>New Property</a> | 
<a href='/editprop'>Edit Properties</a> |
<a href='/reprop'>Rearange Properties</a>
